<div class="row">
	<h2>Hristiyan Yaprakov</h2>
	<div class="box row">
		<h3>Bio</h3>
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 tac">
			<p class="tal !">
				I am <span class="orange-color">Hristiyan Yaprakov</span> or more commonly known as <span class="orange-color">Harry</span>. <br><br>
				Born and raised in <span style="color: #00966E">Blagoevgrad,</span> <span style="color: #D62612">Bulgaria</span>. <br><br>
				Currently living in <span style="color: #2DAEFF">Edinburgh, UK</span>.
			</p>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tac">
			<img class="harka" src="../images/harka2.jpg" class="tac" alt="">
		</div>
	</div>
	<div class="box row">
		<h3>Education</h3>
		<p class="tal !">
			Mathematics and Science High School "acad. S. P. Korolyov" <br>
			Blagoevgrad, Bulgaria <br>
			2008 - 2016 <br>
			In a class with extensive learning of Informatics, IT and Mathematics <br>
			Graduated with a "Diploma za zavursheno sredno obrazovanie" with 5.99 out of 6.00
			<br><br>
			University of Edinburgh <br>
			Scotland, UK <br>
			2016 - <br>
			Software Engineering with Management (BEng Hons)
			<br><br>
			- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
			<br><br>
			<a href="http://slicecrowd.com/academy" target="_blank">SliceCrowd Academy</a> <br>
			Blagoevgrad, Bulgaria <br>
			2014 <br>
			Front-end Web Development <br>
			Graduated with an Excellent 5.8 / 6.0
		</p>
	</div>
	<div class="box row">
		<h3>Work</h3>
		<p class="tal !">
			Freelance
		</p>
	</div>
</div>
<div class="under-construction"></div>