<br>
<br>
<br>
<h2>Contact me</h2>
<div class="box row">
	<p class="tal col-lg-6 col-md-6 col-sm-6 col-xs-12" style="overflow: hidden;">
		hristiyan.yaprakov@gmail.com <br>
		h@yaprakov.com <br>
		<br>
		BG: (+359) 888 200 374 <br>
		UK: (+44) 7706 667 730 
	</p>
	<p class="tal col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<a href="https://www.facebook.com/harryYaprakov" target="_blank">
			<i class="fa fa-facebook-official"></i> Hristiyan Yaprakov
		</a> <br>
		<a href="https://github.com/harryyaprakov" target="_blank">
			<i class="fa fa-github"></i> harryyaprakov
		</a> <br>
		<a href="https://www.instagram.com/harryyaprakov/" target="_blank">
			<i class="fa fa-instagram"></i> harryyaprakov
		</a> <br>
		<a href="#" target="_blank">
			<i class="fa fa-linkedin"></i> -
		</a> <br>
	</p>
</div>