@font-face {
    font-family: 'Lasco';
    src: url('Lasco-Regular.eot');
    src: url('Lasco-Regular.eot?#iefix') format('embedded-opentype'),
         url('Lasco-Regular.woff') format('woff'),
         url('Lasco-Regular.ttf') format('truetype'),
         url('Lasco-Regular.svg#robotobold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lasco';
    src: url('Lasco-Bold.eot');
    src: url('Lasco-Bold.eot?#iefix') format('embedded-opentype'),
         url('Lasco-Bold.woff') format('woff'),
         url('Lasco-Bold.ttf') format('truetype'),
         url('Lasco-Bold.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}